/* home page */

h1{
  font-family: 'Moo Lah Lah', cursive;
  font-size: 200px;
}

.llwImg{
  height: 260px;
  width: 500px;

}

.nwsImg{
  height: 260px;
  width: 600px;
  object-fit: cover;
}

.portraitImg{
  height: 260px;
  width: 500px;
}

.netArtImg{
  height: 260px;
  width: 500px;
}

.posterImg{
  height:260px;
  width:500px;
}

.buttonImg{
  height:250px;
  width:500px;
}

.mediumImg{
  height:250px;
  width:500px;
}

.playlistImg{
  height:250px;
  width:500px;
}

.specialLink3{
  font-size: 20px;
}

.col-sm{
  font-family: 'Bungee Shade';
  color:#000000;
}
